@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    background-image: url("C:\Users\chukwuemeka.edoh\Downloads\FreeCodeCamp-Responsive-Web-Design-Certification-Projects-master\3. Build a Product Landing Page\bg-hero-desktop.svg");
   
}

#page-wrapper {
    position: relative;
}


/*---------------Header-section---------------*/

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

.logo {
    width: 60vw;
}
.ul{
    background-color: #073f27;
    align-items: left;
   color: aliceblue;
}
.logo>img {
    width: 50%;
    height: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: center;
    margin-left: 30px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

nav {
    font-weight: 400;
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
    .logo>img {
        margin: 0 auto;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
        align-items: Right;
    }
    nav>ul {
        flex-direction: column;
    }
}


/*---------------Heading-section---------------*/

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type="email"] {
    max-width: 80%;
    width: 100%;
    padding: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #d22a7b;
}

#hero input[type="submit"]:hover {
    background-color: rgb(224, 31, 153);
    transition: background-color 1s;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size:small;
    font-weight: 900;
    
    text-transform: uppercase;

    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 150px;
        font-size: 15px;
    }
    .btn {
        font-size: 0.8em;
    }
}


/*---------------Flex-section---------------*/

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
    #features .icon {
        font-size: 10px;
        display: flex;
    }
}

@media (max-width: 650px) {
    #features {
        background: skyblue;
        margin-top: 0;
        justify-content: column;
        padding: 10px 20px;
    }
}


/*---------------How-it-works-section---------------*/

#how-it-works {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}

@media (max-width: 650px) {
    #how-it-works {
        background: tomato;
    }
    #how-it-works>iframe {
        max-width: 300px;
        width: 100%;
    }
}


/*---------------Card-section---------------*/

#pricing {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: calc(90% / 2);
       border-radius: 3px;
}
.productFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
background-color: #073f27;
    width: calc(90% / 4);
       border-radius: 3px;
}

.product>.level {

    color: rgb(7, 8, 86);
    padding: 15px 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: bolder;
    font-size: xx-large;
}



.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
  
    margin: 130px 0 0 0;
    background-color: #f717a1;
    font-weight: 400;
    align-items:left;
    
}

.product>button:hover {
    background-color: #f717a1;
    transition: background-color 1s;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
        background: green;
        color: white;
    }
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


/*---------------Footer-section---------------*/
.site-footer
{
  background-color:#0b2b38;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


